body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #282c34;
    color: white;
}

header {
    text-align: center;
    padding: 20px;
    background-color: #20232a;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

header h1 {
    margin: 0;
    font-size: 2.5rem;
    color: #61dafb;
}

main {
    padding: 20px;
}

.sector {
    background: #333;
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    width: 90%;
    max-width: 600px;
}

.sector h2 {
    font-size: 1.8rem;
    margin-bottom: 10px;
    color: #61dafb;
}

.progress-container {
    margin: 20px 0;
}

.progress-bar {
    display: flex;
    align-items: center;
    margin: 10px 0;
}

.progress-label {
    flex: 1;
    text-align: left;
}

.progress {
    flex: 3;
    height: 20px;
    border-radius: 10px;
    background: #555;
    overflow: hidden;
    position: relative;
}

.progress-fill {
    height: 100%;
    background: #4caf50;
    width: 0;
    transition: width 0.3s;
}

.toggle-container {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.toggle-container label {
    flex: 1;
}

.toggle-switch {
    width: 60px;
    height: 30px;
    background-color: #ccc;
    border-radius: 15px;
    position: relative;
    cursor: pointer;
    transition: background-color 0.3s;
}

.toggle-switch .toggle-circle {
    width: 28px;
    height: 28px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    top: 1px;
    left: 1px;
    transition: transform 0.3s;
}

.toggle-switch.on {
    background-color: #4caf50;
}

.toggle-switch.on .toggle-circle {
    transform: translateX(30px);
}

.button2 {
    width: 100px;  /* Set width */
    height: 60px;  /* Set height */
}

.button-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 40px;
}

.button-container button {
    width: 220px;
    height: 60px;
    background-color: #ffffff; /* White button */
    border: none;
    border-radius: 10px;
    color: #000000; /* Black text */
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.button-container button:hover {
    background-color: #f2f2f2; /* Light gray on hover */
    transform: scale(1.05);
}

hr.line {
    height: 1px; /* Adjust this value to change the thickness */
    background-color: #689D68; /* Set the color of the hr */
    border: none; /* Remove the default border */
}
